{$CADDY_SITE_ADDRESS} {
  encode gzip zstd

  handle_path /uploads/* {
    root * /srv/uploads
    header Cache-Control "public, max-age=31536000, immutable"
    header X-Content-Type-Options "nosniff"
    file_server
  }

  handle {
    reverse_proxy app:3000
  }
}
